body{

background:linear-gradient(
135deg,
#020617,
#0f172a);

font-family:Arial;

color:white;

margin:0;

}

.container{

width:95%;

margin:auto;

text-align:center;

}

h1{

color:#38bdf8;

letter-spacing:2px;

}

table{

width:100%;

border-collapse:collapse;

background:#111827;

box-shadow:

0px 0px 25px rgba(0,255,255,.2);

}

th{

background:#0284c7;

padding:12px;

}

td{

padding:10px;

border-bottom:1px solid #1f2937;

}

.club{

display:flex;

align-items:center;

gap:10px;

}

img{

width:30px;

}

.points{

font-weight:bold;

color:#22c55e;

}

tr:hover{

background:#1e293b;

transform:scale(1.01);

transition:.2s;

}